.box{
    background-color: aquamarine;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5 solid black;
    margin: 50px;
}
.box2 {
    background-color: rgb(255, 200, 127);
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5 solid black;
    margin: 50px;
}
.box3 {
    background-color: rgb(127, 255, 180);
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5 solid black;
    margin: 50px;
}
